<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content-centered">
  <div class="ion-text-center ion-margin-bottom">
    <img src="assets/icon/logo virgil.png" alt="Logo" class="logo-image" /> <!-- Imagen agregada -->
    <h2>Bienvenido, {{ userName }}!</h2>
    <h2>Resumen del Cuestionario</h2>
    <p>Total de preguntas: {{ getSummary() }}</p>
  </div>
  
  <div class="ion-text-center ion-margin-bottom">
    <h3>Preguntas por Nivel:</h3>
    <ul class="ion-padding-start">
      <li>Nivel 1: {{ questionsCount?.level1 }}</li>
      <li>Nivel 2: {{ questionsCount?.level2 }}</li>
      <li>Nivel 3: {{ questionsCount?.level3 }}</li>
    </ul>
  </div>

  <div class="ion-text-center">
    <ion-button routerLink="/question1">Comenzar Cuestionario</ion-button>
    <ion-button (click)="startQuiz()" routerLink="/home">Reiniciar Cuestionario</ion-button>
  </div>
</ion-content>